.untitled-page.main {
  display: flex;
  flex-direction: column;
  background-color: #cad2ff;
}
.untitled-page .introductionSection {
  z-index: 5;
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.untitled-page .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 169px 0;
  margin: 54px auto 176px;
  width: 1091.9765625px;
  max-width: 85%;
}
@media (max-width: 991px) {
  .untitled-page .mainContainer {
    gap: 150px 0;
    margin: 54px auto 150px;
  }
}
@media (max-width: 575px) {
  .untitled-page .mainContainer {
    gap: 80px 0;
    margin: 54px auto 80px;
  }
}
@media (max-width: 383px) {
  .untitled-page .mainContainer {
    gap: 50px 0;
    margin: 50px auto;
  }
}
.untitled-page .navigationWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e7e9f2;
  border-radius: 31px;
  outline: 2px solid #4b66ff;
}
.untitled-page .navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 11px auto;
  width: 464px;
  max-width: 85%;
}
@media (max-width: 479px) {
  .untitled-page .navContent {
    flex-direction: column;
    gap: 30px 10px;
  }
}
.untitled-page .menuItems {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 280px;
  min-width: 0;
}
@media (max-width: 479px) {
  .untitled-page .menuItems {
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 383px) {
  .untitled-page .menuItems {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .aboutLink {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .projectsLink {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .educationLink {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #eff5ff;
  text-align: center;
  border-radius: 8px;
  padding: 8px 12px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
  letter-spacing: -0.11px;
}

@media (max-width: 479px) {
  .untitled-page .contactBtn {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
  width: 614.015625px;
  max-width: 85%;
}
.untitled-page .introWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px 0;
  width: 100%;
}
.untitled-page .greetingContainer {
  display: flex;
  gap: 0 26px;
  width: 100%;
}
@media (max-width: 767px) {
  .untitled-page .greetingContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px 26px;
  }
}
.untitled-page .greetingText {
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 9px 0 20px;
  font: 700 64px/1.2 Poppins, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -1.9px;
}
@media (max-width: 991px) {
  .untitled-page .greetingText {
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .untitled-page .greetingText {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .untitled-page .greetingText {
    font-size: 36px;
  }
}
.untitled-page .profilePicture {
  width: 133px;
  min-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767px) {
  .untitled-page .profilePicture {
    width: 100%;
    min-width: unset;
    max-width: 133px;
  }
}
.untitled-page .tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 367.9765625px;
  max-width: 85%;
  font: 500 20px/1.2 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
  text-align: center;
  letter-spacing: -0.11px;
}
@media (max-width: 991px) {
  .untitled-page .tagline {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .untitled-page .tagline {
    font-size: 16px;
  }
}
.untitled-page .exploreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 184px;
  max-width: 100%;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 15px 36px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
  letter-spacing: -0.21px;
}
.untitled-page .aboutMeSection {
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.untitled-page .contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 22px auto 63px;
  width: 87.65%;
  max-width: 1249.0078125px;
  padding: 0 78px 0 0;
}
@media (max-width: 991px) {
  .untitled-page .contentWrapper {
    flex-direction: column;
    gap: 30px 10px;
    padding: 0 32px 0 0;
  }
}
@media (max-width: 575px) {
  .untitled-page .contentWrapper {
    padding: 0 16px 0 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .contentWrapper {
    margin: 22px auto 50px;
    padding: 0 8px 0 0;
  }
}
.untitled-page .textContent {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  width: 555px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .textContent {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .introText {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.untitled-page .sectionTitle {
  font: 700 50px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .sectionTitle {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .untitled-page .sectionTitle {
    font-size: 36px;
  }
}
.untitled-page .personalDescription {
  font: 500 16px/2 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
}
@media (max-width: 991px) {
  .untitled-page .personalDescription {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page .personalDescription {
    font-size: 20px;
  }
}
.untitled-page .highlightContainer {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}
@media (max-width: 479px) {
  .untitled-page .highlightContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page .codingExperience {
  display: flex;
  flex-direction: column;
  width: 257px;
  min-width: 0;
  height: 150px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 479px) {
  .untitled-page .codingExperience {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .codingHighlight {
  margin: 20px;
  font: 700 15px/1.6 "DM Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 575px) {
  .untitled-page .codingHighlight {
    margin: 20px 16px;
  }
}
@media (max-width: 383px) {
  .untitled-page .codingHighlight {
    margin: 20px 8px;
  }
}
.untitled-page .inspirationBox {
  display: flex;
  flex-direction: column;
  width: 258px;
  min-width: 0;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 479px) {
  .untitled-page .inspirationBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .inspirationText {
  margin: 20px;
  font: 700 15px/1.6 "DM Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 575px) {
  .untitled-page .inspirationText {
    margin: 20px 16px;
  }
}
@media (max-width: 383px) {
  .untitled-page .inspirationText {
    margin: 20px 8px;
  }
}
.untitled-page .imageContainer {
  display: flex;
  flex-direction: column;
  gap: 1px 0;
  width: 461px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .imageContainer {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .secondaryImage {
  width: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .skillsSection {
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.untitled-page .skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px 0;
  margin: 116.5px auto 149px;
  width: 1038.9609375px;
  max-width: 85%;
}
@media (max-width: 575px) {
  .untitled-page .skillsContainer {
    gap: 80px 0;
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .untitled-page .skillsContainer {
    gap: 50px 0;
    margin: 50px auto;
    width: 255px;
  }
}
.untitled-page .sectionTitle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 85%;
  height: 50px;
  font: 700 48px/0.35 Poppins, Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .sectionTitle1 {
    font-size: 44px;
  }
}
@media (max-width: 479px) {
  .untitled-page .sectionTitle1 {
    font-size: 36px;
  }
}
@media (max-width: 383px) {
  .untitled-page .sectionTitle1 {
    height: 40px;
  }
}
.untitled-page .skillsGrid {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 100%;
}
@media (max-width: 1199px) {
  .untitled-page .skillsGrid {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.untitled-page .leadershipSkill {
  display: flex;
  justify-content: center;
  width: 205px;
  font: 600 24px/1.33 "DM Sans", Helvetica, Arial, serif;
  color: #fcfafa;
  text-align: center;
  border-radius: 31px;
  padding: 15px 16px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 1199px) {
  .untitled-page .leadershipSkill {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .untitled-page .leadershipSkill {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page .leadershipSkill {
    font-size: 20px;
  }
}
.untitled-page .programmingSkillBox {
  display: flex;
  flex-direction: column;
  width: 217px;
  min-width: 0;
  border-radius: 31px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 1199px) {
  .untitled-page .programmingSkillBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .programmingTitle {
  display: flex;
  justify-content: center;
  margin: 15px 29.5px;
  font: 700 24px/1.33 "DM Sans", Helvetica, Arial, serif;
  color: #fcfafa;
  text-align: center;
}
@media (max-width: 991px) {
  .untitled-page .programmingTitle {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page .programmingTitle {
    margin: 15px 16px;
  }
}
@media (max-width: 479px) {
  .untitled-page .programmingTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page .programmingTitle {
    margin: 15px 8px;
  }
}
.untitled-page .riskManagementSkillBox {
  display: flex;
  flex-direction: column;
  width: 269px;
  min-width: 0;
  border-radius: 31px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 1199px) {
  .untitled-page .riskManagementSkillBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .riskManagementTitle {
  display: flex;
  justify-content: center;
  margin: 15px 30px;
  font: 700 24px/1.33 "DM Sans", Helvetica, Arial, serif;
  color: #fcfafa;
  text-align: center;
}
@media (max-width: 991px) {
  .untitled-page .riskManagementTitle {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page .riskManagementTitle {
    margin: 15px 16px;
  }
}
@media (max-width: 479px) {
  .untitled-page .riskManagementTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page .riskManagementTitle {
    margin: 15px 8px;
  }
}
.untitled-page .userResearchSkillBox {
  display: flex;
  flex-direction: column;
  width: 228px;
  min-width: 0;
  border-radius: 31px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 1199px) {
  .untitled-page .userResearchSkillBox {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .userResearchTitle {
  display: flex;
  justify-content: center;
  margin: 15px 30.5px;
  font: 700 24px/1.33 "DM Sans", Helvetica, Arial, serif;
  color: #fcfafa;
  text-align: center;
  letter-spacing: -0.1px;
}
@media (max-width: 991px) {
  .untitled-page .userResearchTitle {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .untitled-page .userResearchTitle {
    margin: 15px 16px;
  }
}
@media (max-width: 479px) {
  .untitled-page .userResearchTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .untitled-page .userResearchTitle {
    margin: 15px 8px;
  }
}
.untitled-page .section4 {
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.untitled-page .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 71px auto 78px;
  width: 90.04%;
  max-width: 1283.0625px;
  padding: 0 18px 0 0;
}
@media (max-width: 991px) {
  .untitled-page .flex_row {
    flex-direction: column;
    gap: 30px 10px;
  }
}
@media (max-width: 575px) {
  .untitled-page .flex_row {
    padding: 0 16px 0 0;
  }
}
@media (max-width: 383px) {
  .untitled-page .flex_row {
    margin: 50px auto;
    padding: 0 8px 0 0;
  }
}
.untitled-page .flex_col {
  display: flex;
  flex-direction: column;
  width: 654px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .flex_col {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .image5 {
  width: 260px;
  max-width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% center;
  object-position: 50% center;
}
@media (max-width: 991px) {
  .untitled-page .image5 {
    display: none !important;
  }
}
.untitled-page .image8 {
  width: 76%;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .flex_col1 {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  width: 531px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .flex_col1 {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .flex_col2 {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.untitled-page .flex_col3 {
  display: flex;
  flex-direction: column;
  width: 354px;
  max-width: 85%;
}
.untitled-page .hero_title {
  font: 700 50px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .hero_title {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .untitled-page .hero_title {
    font-size: 36px;
  }
}
.untitled-page .title1 {
  font: 700 24px/1.5 "DM Sans", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .title1 {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page .title1 {
    font-size: 26px;
  }
}
.untitled-page .medium_title {
  font: 500 16px/2 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
}
@media (max-width: 991px) {
  .untitled-page .medium_title {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page .medium_title {
    font-size: 20px;
  }
}
.untitled-page .content_box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
.untitled-page .highlight {
  margin: 20px;
  font: 700 16px/1.5 "DM Sans", Helvetica, Arial, serif;
  color: white;
}
@media (max-width: 575px) {
  .untitled-page .highlight {
    margin: 20px 16px;
  }
}
@media (max-width: 383px) {
  .untitled-page .highlight {
    margin: 20px 8px;
  }
}
.untitled-page .educationSection {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.untitled-page .educationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 81px auto 60px;
  width: 86.32%;
  max-width: 1230.0546875px;
}
@media (max-width: 991px) {
  .untitled-page .educationContainer {
    flex-direction: column;
    gap: 30px 10px;
  }
}
@media (max-width: 575px) {
  .untitled-page .educationContainer {
    margin: 80px auto 60px;
  }
}
@media (max-width: 383px) {
  .untitled-page .educationContainer {
    margin: 50px auto;
  }
}
.untitled-page .schoolImageWrapper {
  position: relative;
  width: 503px;
  min-width: 0;
  height: 410px;
  min-height: 410px;
}
@media (max-width: 991px) {
  .untitled-page .schoolImageWrapper {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .root {
  position: absolute;
  top: 6px;
  left: 0;
  width: 428px;
  aspect-ratio: 1.26;
  transform: rotate(8deg);
}
@media (max-width: 1199px) {
  .untitled-page .root {
    left: -37px;
  }
}
@media (max-width: 991px) {
  .untitled-page .root {
    top: 7px;
    left: 92px;
  }
}
@media (max-width: 767px) {
  .untitled-page .root {
    left: 57px;
  }
}
@media (max-width: 575px) {
  .untitled-page .root {
    left: 14px;
  }
}
@media (max-width: 479px) {
  .untitled-page .root {
    top: 104px;
    left: 8px;
    width: 325px;
  }
}
@media (max-width: 383px) {
  .untitled-page .root {
    left: -1px;
  }
}
.untitled-page .educationDetails {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  width: 521px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .educationDetails {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .schoolInfo {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin: 0 3px 0 0;
}
.untitled-page .schoolName {
  font: 700 50px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .schoolName {
    align-items: flex-start;
    font-size: 52px;
  }
}
@media (max-width: 479px) {
  .untitled-page .schoolName {
    font-size: 36px;
  }
}
.untitled-page .attendancePeriod {
  font: 700 24px/1.5 "DM Sans", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
}
@media (max-width: 991px) {
  .untitled-page .attendancePeriod {
    align-items: flex-start;
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page .attendancePeriod {
    font-size: 26px;
  }
}
.untitled-page .experienceDescription {
  font: 500 16px/2 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
}
@media (max-width: 991px) {
  .untitled-page .experienceDescription {
    align-items: flex-start;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .untitled-page .experienceDescription {
    font-size: 20px;
  }
}
.untitled-page .contactSection {
  display: flex;
  flex-direction: column;
}
.untitled-page .contactOptionsContainer {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 100px auto 134px;
  width: 1128.0234375px;
  max-width: 85%;
  padding: 0 11.5px 0 0;
}
@media (max-width: 991px) {
  .untitled-page .contactOptionsContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
    margin: 150px auto 134px;
  }
}
@media (max-width: 575px) {
  .untitled-page .contactOptionsContainer {
    margin: 80px auto;
  }
}
@media (max-width: 383px) {
  .untitled-page .contactOptionsContainer {
    margin: 50px auto;
    padding: 0 8px 0 0;
  }
}
.untitled-page .linkedinContactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px 0;
  width: 489px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .linkedinContactWrapper {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .linkedinIcon {
  width: 100px;
  max-width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .linkedinContactText_box {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .untitled-page .linkedinContactText_box {
    align-items: flex-start;
  }
}
.untitled-page .linkedinContactText {
  font: 700 24px/1.5 "DM Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .untitled-page .linkedinContactText {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page .linkedinContactText {
    font-size: 26px;
  }
}
.untitled-page .linkedinContactText_span0 {
  font: 700 1em/1.5 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
}
.linkedinContactText_span1,
.emailContactText_span1 {
    background: linear-gradient(90deg, #4b66ff 0%, #001692 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.untitled-page .emailContactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px 0;
  width: 464px;
  min-width: 0;
}
@media (max-width: 991px) {
  .untitled-page .emailContactWrapper {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .emailIcon {
  width: 100px;
  max-width: 85%;
  -o-object-fit: cover;
  object-fit: cover;
}
.untitled-page .emailContactText_box {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .untitled-page .emailContactText_box {
    align-items: flex-start;
  }
}
.untitled-page .emailContactText {
  font: 700 24px/1.5 "DM Sans", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
@media (max-width: 991px) {
  .untitled-page .emailContactText {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  .untitled-page .emailContactText {
    font-size: 26px;
  }
}
.untitled-page .emailContactText_span0 {
  font: 700 1em/1.5 "DM Sans", Helvetica, Arial, serif;
  color: #202322;
}

.untitled-page .emailContactText_span1 {
  font: 700 1em/1.5 "DM Sans", Helvetica, Arial, serif;
  text-decoration: underline;
}


html {
  scroll-behavior: smooth;
}