.untitled-page.aboutMeSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.untitled-page .flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 169px 0;
  margin: 54px auto 177px;
  width: 1091.9765625px;
  max-width: 85%;
}
@media (max-width: 991px) {
  .untitled-page .flexColumn {
    gap: 150px 0;
    margin: 54px auto 150px;
  }
}
@media (max-width: 575px) {
  .untitled-page .flexColumn {
    gap: 80px 0;
    margin: 54px auto 80px;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexColumn {
    gap: 50px 0;
    margin: 50px auto;
  }
}
.untitled-page .contentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F3F4FE;
  border-radius: 31px;
  outline: 2px solid #c2cbff;
}
.untitled-page .flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 11px auto;
  width: 464px;
  max-width: 85%;
}
@media (max-width: 479px) {
  .untitled-page .flexRow {
    flex-direction: column;
    gap: 30px 10px;
  }
}
.untitled-page .flexRow1 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 296px;
  min-width: 0;
}
@media (max-width: 479px) {
  .untitled-page .flexRow1 {
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 383px) {
  .untitled-page .flexRow1 {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.untitled-page .aboutMeText {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .projectsText {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .contactMeText {
  display: flex;
  align-items: center;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -0.11px;
}
.untitled-page .tryItButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: #eff5ff;
  text-align: center;
  background-color: #3c73f5;
  border-radius: 8px;
  padding: 8px 16px;
  letter-spacing: -0.21px;
}
@media (max-width: 479px) {
  .untitled-page .tryItButton {
    width: 100%;
    min-width: unset;
  }
}
.untitled-page .flexColumn1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
  width: 605.9375px;
  max-width: 85%;
}
.untitled-page .flexColumn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px 0;
  width: 100%;
}
.untitled-page .flexRow2 {
  display: flex;
  gap: 0 18px;
  width: 100%;
}
@media (max-width: 767px) {
  .untitled-page .flexRow2 {
    flex-direction: column;
    align-items: center;
    gap: 30px 18px;
  }
}
.untitled-page .heroTitle {
  display: flex;
  align-items: center;
  margin: 9px 0 20px;
  font: 700 64px/1.2 Poppins, Helvetica, Arial, serif;
  color: #202322;
  letter-spacing: -1.9px;
}
@media (max-width: 991px) {
  .untitled-page .heroTitle {
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .untitled-page .heroTitle {
    justify-content: center;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .untitled-page .heroTitle {
    font-size: 36px;
  }
}
.untitled-page .heroImage {
  width: 133px;
  min-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767px) {
  .untitled-page .heroImage {
    width: 100%;
    min-width: unset;
    max-width: 133px;
  }
}
.untitled-page .innovationTagline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 367.984375px;
  max-width: 85%;
  font: 400 15px/1.6 Poppins, Helvetica, Arial, serif;
  color: #202322;
  text-align: center;
  letter-spacing: -0.11px;
}
.untitled-page .howItWorksButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 184px;
  max-width: 100%;
  font: 600 15.1px/1.58 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #3c73f5;
  border-radius: 8px;
  padding: 15px 8px;
  letter-spacing: -0.11px;
}